*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    margin: 0;
    padding: 0;
}
.body{
    position: absolute;
    top: 0;
    left: 250px;
    padding: 10px;
    height: 100vh;
    background: #ccc;
    transition: 3s;
}
.sidemenu{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    transition: 2s;
}
.sidemenu label{
    float: right;
    margin: 10px;
    font-size: 20px;
}
body input[type=checkbox]{
    appearance: none;
    visibility: hidden;
}

#switch:checked ~ .sidemenu{
    width: 50px;
}
#switch:checked ~ .body{
    transform: scale(1.2);
    margin: 5% auto;
    width: 70%;
}

.box{
    position: relative;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}
input {
    border: none;
    background: none;
    outline: none !important;
    width: 30%;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid rgb(97, 97, 97);
    transition: all ease 0.9s;
}
input:focus{
    width: 100%;
}